

<div class="box sidebar">

      <p>NOTES: sidebar has: image, name, handle, bio, follow-btn, etc.</p>
      <h2> <%= image_tag @displayed_user.image, size: "200x200" %> </h2>
      <h2> <%= @displayed_user.name %> </h2>
      <p> <%= @displayed_user.bio  if @displayed_user.bio !=nil %> </p>
      <h3> <%= @displayed_user.location if @displayed_user.location !=nil%> </h3>

</div><!-- <div class="box sidebar"> -->


  <div class="box content">

      <div class="box content-inner-wrapper">
        <div class=" overview-tab">
          <h4> Overview %> </h4>
        </div><!-- <div class="overview-tab"> -->
        <div class="repo-tab">
          <h4> <%= link_to "(TAB)Repositories #{@displayed_user.public_repos}" %> </h4>
        </div><!-- <div class="repo-tab"> -->
        <div class="stars-tab">
          <h4> Stars <%= @displayed_user.stars %> </h4>
        </div><!-- <div class="stars-tab"> -->
        <div class="followers-tab">
          <h4> Followers <%= @displayed_user.followers %> </h4>
        </div><!-- <div class="followers-tab"> -->
        <div class="following-tab">
          <h4> Following <%= @displayed_user.following %> </h4>
        </div><!-- <div class="following-tab"> -->
      </div><!-- <div class="content-inner-wrapper"> -->


      <div class=" box user-pages">
        
        <div class="repos">
          render 'dashboard/repositories' using erb tags
          <p>if 'pinned' !nil, render pined repo cards. else render popular repo cards.</p>
          <div class"list_repos">
          @displayed_user.repos.each do |repo|
            repo.name
          end
          </div><!-- <div class="list_repos"> -->
        </div><!-- <div class="repos"> -->

        <div class=" box starred-repos">
          render partial _starred_repos
        </div><!-- <div class="starred-repos"> -->

        <div class="box following">
          render partial _following
        </div><!-- <div class=""> -->

        <div class="box followed">
          render partial _followed
        </div>
      </div> <!-- <div class=" box user-pages"> -->

</div><!-- <div class="box content> -->
