<!DOCTYPE html>
<html>
  <head>
    <title>Fakehub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="sidebar col col-4">
      sidebar has: image, name, handle, bio, follow-btn



    </div>
    <div class="user-info col col-8">
      <div class="user-tabs">
      </div>
      <div class="user-pages">
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
